<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Settings</a>
            </li>
            <li class="active">
                <strong>Import</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Import
                        <small>(orders will be imported for active campagin)</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-class= "{ 'sk-loading' : vm.loading }" >
                    <!-- Loader -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <form name="importOrdersForm" class="form-horizontal">
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"  ng-class="{'has-error' : vm.errors.start }"><label class="col-sm-2 control-label">Start</label>
							<div class="col-sm-6"><input  type="date" name="start" ng-model="vm.dates.start" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.start[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group" ng-class="{'has-error' : vm.errors.end }"><label class="col-sm-2 control-label">End</label>
							<div class="col-sm-6"><input type="date" name="end" ng-model="vm.dates.end" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.end[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
						
						<div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <button class="btn btn-danger" ng-click="vm.reset()">Reset</button>
                                <button class="btn btn-primary"  ng-click="vm.importOrders()" type="submit" >Import Orders</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	