<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main" >Home</a>
            </li>
            <li>
                <a>Api</a>
            </li>
            <li class="active">
                <strong>Refresh Token</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>API Key -
                        <small>(Keep key secret.)</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form name="createLotteryForm" class="form-horizontal">
                       
                        <div class="form-group" ng-class="{'has-error' : vm.errors.description }"><label class="col-sm-2 control-label">API Key</label>
                            <div class="col-sm-9">
                                <textarea id="clipboard" readonly="" rows="4"  class="form-control" ng-model="vm.token" ></textarea>
                            </div>
                        </div>  
                        <div class="hr-line-dashed"></div>
                        
                       
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-9">
                                <button tooltip-placement="top" uib-tooltip="Get new token!" class="ladda-button btn btn-danger" ladda-button="vm.loading" data-style="slide-down" ng-click="vm.refreshToken()">Refresh</button>
                                <button ng-click="vm.copied()" ngclipboard data-clipboard-target="#clipboard" tooltip-placement="top" uib-tooltip="Copy Api key to clipboard!" class="btn btn-primary"   > Copy </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  