<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main" >Home</a>
            </li>
            <li>
                Users
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create User
                        <small>(add users for admin managment)</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form name="createUserForm" class="form-horizontal">
                        <div class="form-group" ng-class="{'has-error' : vm.errors.first_name }"><label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-6"><input type="text" name="first_name" ng-model="vm.user.first_name" class="form-control">
                            <span class="help-block m-b-none" >{{ vm.errors.first_name[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.last_name }"><label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-6"><input type="text" name="last_name" ng-model="vm.user.last_name" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.last_name[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.email }"><label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-6"><input type="text" name="email" ng-model="vm.user.email" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.email[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.user_type }"><label class="col-sm-2 control-label">User Type</label>
                            <div class="col-sm-6">
                                <select class="form-control m-b" name="user_type" ng-model="vm.user.user_type">
                                    <option value="admin">Admin</option>
                                </select>
                                <span class="help-block m-b-none" >{{ vm.errors.user_type[0] }}</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.password }"><label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-6"><input type="password" ng-model="vm.user.password" class="form-control" name="password">
                            <span class="help-block m-b-none" >{{ vm.errors.password[0] }}</span></div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <button class="btn btn-danger" ng-click="vm.resetUser()">Reset</button>
                                <button class="ladda-button btn btn-primary" ladda-button="vm.loading" ng-click="vm.createUser()" type="submit" data-style="slide-down">Create User</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>