<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Users</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users List - <strong>(These are users for admin.)</strong></h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-class= "{ 'sk-loading' : vm.contentLoader }" >
                    <!-- Loader -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>    
                    
                    <!-- <table  class="table table-striped table-bordered table-hover dataTables-example"> -->
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>User Type</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vm.users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.user_type }}</td>
                            <td><span role="button" ng-click="vm.commingSoong()" ng-if="user.is_active" tooltip-placement="top" uib-tooltip="Account is active!" class="badge badge-primary">Active</span> <span role="button" ng-click="vm.commingSoong()" ng-if="!user.is_active" tooltip-placement="top" uib-tooltip="Account is deactive!" class="badge badge-danger">Deactive</span></td>
                            <td>{{ user.created_at | date:"yyyy-mm-dd" }}</td>
                            <td>{{ user.updated_at | date:"yyyy-mm-dd" }}</td>
                            <td>
                                <button ng-click="vm.commingSoong()" tooltip-placement="top" uib-tooltip="Edit user" class="btn btn-success" type="button"><i class="fa fa-edit"></i></button>
                                <button  ng-click="vm.commingSoong()" tooltip-placement="top" uib-tooltip="Delete user" class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>
                               
                                
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- {{ vm.users | json }} -->
    </div>
</div>    