<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li ui-sref="participants.list">
                <a>Participants</a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Participant
                        <small>(Participant will be created against active lottery)</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form name="createParticipantForm" class="form-horizontal">
                        <div class="form-group" ng-class="{'has-error' : vm.errors.name }"><label class="col-sm-2 control-label">WP User Name</label>
							<div class="col-sm-6"><input type="text" name="name" ng-model="vm.participant.name" class="form-control">
							<span class="help-block m-b-none" >{{ vm.errors.name[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group" ng-class="{'has-error' : vm.errors.email }"><label class="col-sm-2 control-label">WP Email</label>
							<div class="col-sm-6"><input type="text" name="name" ng-model="vm.participant.email" class="form-control">
							<span class="help-block m-b-none" >{{ vm.errors.email[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.wp_user_id }"><label class="col-sm-2 control-label">WP User ID</label>
							<div class="col-sm-6"><input type="number" min="1" name="wp_user_id" ng-model="vm.participant.wp_user_id" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.wp_user_id[0] }}</span></div>
                        </div>
                         <div class="hr-line-dashed"></div>
                      
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <button class="btn btn-danger" ng-click="vm.reset()">Reset</button>
                                <button class="ladda-button btn btn-primary" ladda-button="vm.loading" ng-click="vm.createParticipant()" type="submit" data-style="slide-down">Create Participant</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	