<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Participants</a>
            </li>
            <li class="active"> 
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Participants List - <strong>(only one participant can be active.)</strong></h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-class= "{ 'sk-loading' : vm.contentLoader }" >
                    <!-- Loader -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <!-- <table  class="table table-striped table-bordered table-hover dataTables-example"> -->
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>WP ID</th>
                            <th>Lottery</th>
                            <th>Is Manual</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="participant in vm.participants">
                            <td>{{ participant.id }}</td>
                            <td>{{ participant.name }}</td>
                            <td>{{ participant.email }}</td>
                            <td>{{ participant.wp_user_id }}</td>
                            <td>{{ participant.lottery.name }}</td>
                            <td>{{ participant.is_manual_entry ?  'YES' : 'NO'  }}</td>
                             <td>
                               <button  ui-sref="participants.create-ticket({ 'participant_id' : participant.id  })" tooltip-placement="top" uib-tooltip="Create Tickets" class="btn btn-warning" type="button"><i class="fa fa-ticket"></i></button>
                            </td>
                            
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <!-- {{ vm.users | json }} -->
    </div>
</div>    