<div class="footer">
    <div class="pull-right">
        <!-- 10GB of <strong>250GB</strong> Free. -->
    </div>
    <div>
        Copyright&copy; All rights reserved — Designed by <b>Packer Labs</b>
	</div>
</div>
