<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ng-click="logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>

            <li >
                <a ><i class="fa fa-users"></i> <span class="nav-label">Manage Users</span><span class="fa arrow"></span></a>

                 <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('users')}">
                    <li ui-sref-active="active"><a ui-sref="users.create"><i class="fa fa-plus" aria-hidden="true"></i>Create</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.list"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="profile.company_info" >Company Info</a></li> -->
                </ul>
            </li>

            <li>
                <a ><i class="fa ffa fa-gift"></i> <span class="nav-label">Manage Raffles</span><span class="fa arrow"></span></a>

                 <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('lotteries')}">
                    <li ui-sref-active="active"><a ui-sref="lotteries.create"><i class="fa fa-plus" aria-hidden="true"></i>Create</a></li>
                    <li ui-sref-active="active"><a ui-sref="lotteries.list"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="profile.company_info" >Company Info</a></li> -->
                </ul>
            </li>

            <li>
                <a ><i class="fa fa-user-circle-o"></i> <span class="nav-label">Manage Participants</span><span class="fa arrow"></span></a>

                 <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('participants')}">
                    <li ui-sref-active="active"><a ui-sref="participants.create"><i class="fa fa-plus" aria-hidden="true"></i>Create</a></li>
                    <li ui-sref-active="active"><a ui-sref="participants.list"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="profile.company_info" >Company Info</a></li> -->
                </ul>
            </li>

            <li>
                <a ><i class="fa fa-ticket"></i> <span class="nav-label">Manage Tickets</span><span class="fa arrow"></span></a>

                 <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('tickets')}">
                    <!-- <li ui-sref-active="active"><a ui-sref="tickets.create"><i class="fa fa-plus" aria-hidden="true"></i>Create</a></li> -->
                    <li ui-sref-active="active"><a ui-sref="tickets.list"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="profile.company_info" >Company Info</a></li> -->
                </ul>
            </li>

            <li>
                <a ><i class="fa fa-cog"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>

                 <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('settings')}">
                    
                    <li ui-sref-active="active"><a ui-sref="settings.import"><i class="fa fa-list-ul" aria-hidden="true"></i>Import Orders</a></li>
                   
                </ul>
            </li>



            <li ui-sref-active="active">
                <a ui-sref="api.token"><i class="fa fa-key"></i> <span class="nav-label">API Key</span></a>
            </li>


            <!-- <li ui-sref-active="active">
                <a ui-sref="login"><i class="fa fa-desktop"></i> <span class="nav-label">Login page</span></a>
            </li> -->
        </ul>

    </div>
</nav>