<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Tickets</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tickets List - <strong>(These are tickets for admin.)</strong></h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-class= "{ 'sk-loading' : vm.contentLoader }" >
                    <!-- Loader -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <!-- <table  class="table table-striped table-bordered table-hover dataTables-example"> -->
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Ticket Enteries #</th>
                            <th>Order No #</th>
                            <th>Lottery</th>
                            <th>Ticket Holder</th>
                            <th>Status</th>
                            <th>Type</th>
                            <!-- <th>Action</th> -->

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ticket in vm.tickets">
                            <td>{{ ticket.total }}</td>
                            <td>{{ ticket.order_number }}</td>
                            <td>{{ ticket.lottery.name }}</td>
                            <td>{{ ticket.participant.first_name +' '+ ticket.participant.name }} -- {{ ticket.participant.email }}</td>
                            <td>{{ ticket.is_winner ? 'WIN' : 'NO' }}</td>
                            <td>{{ ticket.order_type }}</td>
                            
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <!-- {{ vm.tickets | json }} -->
    </div>
</div>    