
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div class="ibox-content">
                <div>
                    <img src="images/charity-moose-logo.png" style="width:261px">
                    
                </div>
                <form name="loginForm" class="m-t" role="form" >
                    <div class="form-group">
                        <input name="email" type="email" ng-model="vm.credentials.email" class="form-control" placeholder="Username" required="">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" ng-model="vm.credentials.password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button ladda-button="vm.loading"  ng-click="vm.login(loginForm.$valid)" class="ladda-button btn btn-primary  block full-width m-b" data-style="slide-down">Login</button>
                    <!-- <button ladda-button="vm.loading" ng-click="vm.runLoading()" class="ladda-button btn btn-primary block full-width m-b" data-style="slide-down">Login</button> -->
                    <a href="#">
                        <small>Forgot password?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <!-- <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a> -->
                </form>
                <p class="m-t">
                    <small>Copyright&copy; All rights reserved — Designed by <b>Packer Labs</b></small>
                </p>
    </div>
</div>