<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">All</span>
                    <h5>Users</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.stats.users}}</h1>

                    <div class="stat-percent font-bold text-success">{{vm.stats.users}} <i class="fa fa-bolt"></i></div>
                    <small>Total Users</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">All</span>
                    <h5>Lotteries</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.stats.lotteries}}</h1>

                    <div class="stat-percent font-bold text-info">{{vm.stats.lotteries}} <i class="fa fa-level-up"></i></div>
                    <small>Total Lotteries</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">All</span>
                    <h5>Pariticpants</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.stats.participants}}</h1>

                    <div class="stat-percent font-bold text-navy">{{vm.stats.participants}} <i class="fa fa-level-up"></i></div>
                    <small>Total Participants</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">All</span>
                    <h5>Tickets</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.stats.tickets}}</h1>

                    <div class="stat-percent font-bold text-danger">{{vm.stats.tickets}} <i class="fa fa-level-up"></i></div>
                    <small>Total Tickets</small>
                </div>
            </div>
        </div>
    </div>
</div>