<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Lotteries</a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Lottery
                        <small>(Use created lottery id in wp)</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form name="createLotteryForm" class="form-horizontal">
                        <div class="form-group" ng-class="{'has-error' : vm.errors.name }"><label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-6"><input type="text" name="name" ng-model="vm.lottery.name" class="form-control">
							<span class="help-block m-b-none" >{{ vm.errors.name[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="{'has-error' : vm.errors.enteries }"><label class="col-sm-2 control-label">Enteries</label>
							<div class="col-sm-6"><input type="number" min="-1" name="enteries" ng-model="vm.lottery.enteries" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.enteries[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"  ng-class="{'has-error' : vm.errors.start }"><label class="col-sm-2 control-label">Start</label>
							<div class="col-sm-6"><input  type="date" name="start" ng-model="vm.lottery.start" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.start[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group" ng-class="{'has-error' : vm.errors.end }"><label class="col-sm-2 control-label">End</label>
							<div class="col-sm-6"><input type="date" name="end" ng-model="vm.lottery.end" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.end[0] }}</span></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group" ng-class="{'has-error' : vm.errors.announcment }"><label class="col-sm-2 control-label">Announcment</label>
							<div class="col-sm-6"><input type="date" name="announcment" ng-model="vm.lottery.announcment" class="form-control"><span class="help-block m-b-none" >{{ vm.errors.announcment[0] }}</span></div>
                        </div>	

                         <div class="hr-line-dashed"></div>

                        <div class="form-group" ng-class="{'has-error' : vm.errors.description }"><label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-6"><textarea class="form-control" ng-model="vm.lottery.description" ></textarea><span class="help-block m-b-none" >{{ vm.errors.description[0] }}</span></div>
                        </div>	


                        <div class="hr-line-dashed"></div>
                       
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <button class="btn btn-danger" ng-click="vm.reset()">Reset</button>
                                <button class="ladda-button btn btn-primary" ladda-button="vm.loading" ng-click="vm.createLottery()" type="submit" data-style="slide-down">Create lottery</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	