<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                Raffles
            </li>
            <li>
                <a ui-sref="lotteries.list">List</a>
            </li>
            <li class="active">
                <strong>Draw Winner</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            
        <div class="pull-right" >
            <button data-style="slide-down" ladda-button="vm.savebtnLoader" class="ladda-button btn btn-danger" ng-click="vm.saveDrawResult()" type="button"><i class="fa fa-save"></i> Save Result</button>
            <button data-style="slide-down" ladda-button="vm.btnLoader" ng-click="vm.getLotteryWinner()" class="ladda-button btn btn-primary" type="button"><i class="fa fa-refresh"></i> Re Draw</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3" ng-repeat="participant in vm.participants">
            <div class="contact-box center-version">

                <a href="#">
                <h3 class="m-b-xs"><strong>{{ participant.name }}</strong></h3>
                    <div class="font-bold">{{ participant.email }}</div>
                </a>
                <div class="contact-box-footer text-info">
                    
                    <div class="font-bold"> Wining Chance : {{ participant.probablity | number:2 }}%</div>
                    <div class="font-bold"> Enteries : {{ participant.tickets }}</div>
                    <div class="font-bold"> Winner : {{ participant.id == vm.winner.participantId ? 'YES ( ticket#' + vm.winner.ticketNumber + ' )' : 'NO' }}</div>

                </div>
            </div>
        </div>
    </div>
</div>