<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>Raffles</a>
            </li>
            <li class="active">	
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Raffles List - <strong>(only one raffle can be active.)</strong></h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-class= "{ 'sk-loading' : vm.contentLoader }" >
                    <!-- Loader -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <!-- <table  class="table table-striped table-bordered table-hover dataTables-example"> -->
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Announcment</th>
                            <th>Creator</th>
                            <th>Total Enteries</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lottery in vm.lotteries">
                            <td>{{ lottery.id }}</td>
                            <td>{{ lottery.name }}</td>
                            <td>{{ lottery.start }}</td>
                            <td>{{ lottery.end }}</td>
                            <td>{{ lottery.announcment }}</td>
                            <td>{{ lottery.creator.first_name + ' ' + lottery.creator.last_name }}</td>
                            <td>{{ lottery.total_enteries }}</td>
                             <td><span  class="badge" ng-class="{'badge-primary' : true , 'badge-danger' : false  }" >{{ lottery.is_active }}</span> 
                             </td>
                            <td>{{ lottery.created_at }}</td>
                            <td>
                               
                                <button ng-click="vm.commingSoong()" tooltip-placement="top" uib-tooltip="Edit lottery" class="btn btn-success" type="button"><i class="fa fa-edit"></i></button>
                                <button  ng-click="vm.commingSoong()" tooltip-placement="top" uib-tooltip="Delete lottery" class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>
                                <button  ui-sref="lotteries.draw_winner({ 'lottery_id' : lottery.id  })" tooltip-placement="top" uib-tooltip="Draw Winner" class="btn btn-warning" type="button"><i class="fa fa-trophy"></i></button>
                            </td>

                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <!-- {{ vm.users | json }} -->
    </div>
</div>    